<form [formGroup]="casamento" (submit)="onSubmit()">
  <div class="divloren">
    <h2>Noivos</h2>
  </div>
  <div formArrayName="noivos" class="noivos_padrinhos">
    <div *ngFor="let control of noivos.controls; let i = index">
      <div class="inputs">

        <input type="text" [formControl]="getFormControl(control, 'nome')" id="noivos{{ i }}">
        <span class="erros"
          *ngIf="this.getFormControl(this.noivos.controls[i],'nome').errors && this.getFormControl(this.noivos.controls[i],'nome').errors!['required']">
          Campo obrigatorio
        </span>
        <span class="erros"
          *ngIf="this.getFormControl(this.noivos.controls[i],'nome').errors && this.getFormControl(this.noivos.controls[i],'nome').errors!['pattern']">
          Não e permitido numeros e caracteres especiais
        </span>

        <button type="button" *ngIf="casamento.value.noivos.length >2" (click)="removeInput(i,'noivos')"
          class="removeInput">x</button>
      </div>
    </div>
    <button type="button" (click)="addInput('noivos')" class="addInput"></button>

  </div>
  @if (activePadrinhos) {
  <div class="divloren">
    <h2>padrinhos</h2><button type="button" (click)="disablePadrinhos()">adicionar depois</button>
  </div>
  <div formArrayName="padrinhos" class="noivos_padrinhos">
    <div *ngFor="let control of padrinhos.controls; let i = index">
      <div class="inputs">
        <input type="text" [formControl]="getFormControl(control, 'nome')" id="padrinhos{{ i }}">
        <span class="erros"
          *ngIf="this.getFormControl(this.padrinhos.controls[i],'nome').errors && this.getFormControl(this.padrinhos.controls[i],'nome').errors!['required']">Campo
          obrigatorio</span>
          <span class="erros"
          *ngIf="this.getFormControl(this.padrinhos.controls[i],'nome').errors && this.getFormControl(this.padrinhos.controls[i],'nome').errors!['pattern']">
          Não e permitido numeros e caracteres especiais
        </span>
        <button type="button" *ngIf="casamento.value.padrinhos.length >2" (click)="removeInput(i,'padrinhos')"
          class="removeInput">x</button>
      </div>
    </div>
    <button type="button" (click)="addInput('padrinhos')" class="addInput"></button>

  </div>
  }
  <div class="data_quantidade_local">
    <div class="divisao_flex">
      <h2>Data:</h2>
      <h2>quantidade de convidados :</h2>
    </div>
    <div class="divisao_flex">
      <div class="inputs">
        <input type="date" [formControl]="data" [min]="minData" [max]="maxData" id="data">
        <span class="erros" *ngIf="data.errors && data.errors['pastDate']">Data tem que se posterior a uma semana a
          partir de hoje</span>

      </div>
      <div class="inputs">
        <input type="number" [formControl]="quantidadeConvidados" (keydown)="blockExponent($event)" (input)="sanitizeInput($event)">
        <span class="erros" *ngIf="quantidadeConvidados.errors && quantidadeConvidados.errors['max']">Local não permite
          essa quantidade de convidados</span>
      </div>
    </div>

  </div>
  <div class="data_quantidade_local">
    <div class="divisao_flex">
      <h2>Local :</h2>
    </div>
    <div class="divisao_flex">
      <p>cidade :</p>
      <p *ngIf="localizacao">locais disponiveis :</p>
    </div>
    <div class="divisao_flex">
      <div class="inputs">
        <select [formControl]="cidade" (change)="selectOpitionCidade()">
          @for (local of cidadesRepet; track $index) {

          <option [value]="local">{{ local }}</option>

          }
        </select>
      </div>
      @if (localizacao) {
      <div class="inputs">

        <select [formControl]="local" (change)="selectOpitionLocal()"
          style="padding-right: 60px; text-overflow: ellipsis;">
          <option *ngFor="let local of localizacao" [id]="local.id" [value]="local.quantidadeMaxPessoas">{{ local.rua}}
            {{
            local.bairro}}
            {{ local.numero}} Quantidade de pessoas : {{local.quantidadeMaxPessoas}}</option>
        </select>

      </div>
      }
    </div>
  </div>
  <div class="buttons">
    <button type="button" id="adicionarservico" (click)="activeServicos()">adicionar serviços</button>
  </div>
  <div class="buttons">
    <button type="submit" id="salvar">salvar para depois</button>
    <button type="submit" id="agendar" (click)="activeCadastro()">Proxima passo</button>
  </div>

</form>