<section >
    <div class="div_close" (click)="closeCadastro()"></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="fixo">
          <button type="button" class="close" (click)="closeCadastro()">
            <div class="heart"><p>X</p></div>
          </button>
          <h1><p>A</p><p>c</p><p>e</p><p>s</p><p>s</p><p>a</p><p>r</p></h1>
          <hr>
        </div>
        <label for="nome">Nome:</label>
        <input id="nome" type="text" formControlName="nome" placeholder="Digite seu nome...">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" placeholder="Digite seu email...">
        <label for="password">Senha:</label>
        <input [type]="!isActive ? 'text' : 'password'" id="password" formControlName="password" placeholder="Digite sua senha">
        <button [ngClass]="{'mostrar': isActive, 'ocultar': !isActive}" type="button" (click)="buttonActive()"></button>
        <button class="salvar" type="submit">Login / Cadastro</button>
        <a href="#">recuperar conta!</a>
      </form>
</section>