<app-header></app-header>
<main>
<app-sidebar></app-sidebar>

<section>
    <ul class="valores">
        <li>valor total de serviços:00000</li>
        <li>valor do local escolhido:00000</li>
        <li>data escolhida:00/00/00</li>
    </ul>
    <div class="noivos">
        <h3>NOIVOS</h3>
        <ul class="nomes">
           
        </ul>

    </div>
    <div class="fotos">
        <app-carrosel></app-carrosel>
    </div>
    @if (casamento) {
        <div class="noivos">
            <h3>DADOS DO CASAMENTO</h3>
            <ul class="nomes">
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
               <li>listddfddddddddddddddddddddddd<button>ggg</button></li>
            </ul>
    
        </div>
    }@else {
        <button class="confirmar"></button>
    }
</section>
<app-footer></app-footer>
</main>