<section>
   <div class="selecao">
        <button class="close">X</button>
        <h1>serviços</h1>
        <div (mouseover)="ativar()" (mouseout)="desativar()" class="servicos">
            <h2>teste</h2>
            @if (ativo[0]) {
            <div class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consequatur, dignissimos fugit consectetur nulla harum dolorem debitis. Quasi corporis cum a voluptatum? Atque, ad voluptatum iure iusto error earum aliquid.</div>
            }
        </div>

   </div> 
</section>
