section{
    position: fixed;
    width: 40rem;
    height: 50rem;
    top: 5rem;
    left: 30%;
}
.selecao{
    background-color: #ffff;
    border: 2px solid #EF233C;
    max-height: 50rem;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.servico{
    margin-top: 40px;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #e72424d2 transparent
}
h1{
    margin-top: 10px;
    font-size: 40px;
}
.close{
    position: absolute;
    right: 0;
    background-color: #EF233C;
    color: #fff;
    width: 4rem;
    height: 4rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 100px;
    text-align: right;
    padding-right: 12px;
    padding-bottom: 10px;

}

.servicos{
    margin-top: 15px;
    width: 99%;
    position: relative;
    
    display: flex;
    justify-content: space-between;
}
.servicos h2{
    padding: 10px;
    border-left:none ;
    border-right:none ;
   border-top: none;

}
.buttons{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 10rem;
}
.buttons button{
    background-color: #EF233C;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
}
.descricao{
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EF233C;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #EF233C;
    color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.418);

}
.div_close{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ef233b7e;
}

.fixo{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 16px;
    border-radius: 30px;

}
hr{
    border: 2px solid #EF233C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);

}
span{
    color: #ffffff;
}
