<div class="div_close" (click)="closeServicos()" style="z-index: 99;"></div>
<section >
    <div class="selecao" >
        <div class="fixo"> <button class="close" (click)="closeServicos()">X</button>
            <h1>serviços</h1>
            <hr>
        </div>
        <div class="servico">
            @for (item of servicos; track $index) {
            <div class="servicos">
                <h2>{{item.nome}}</h2>
                <div class="buttons">

                    <button *ngIf="!adicionados[$index]" (click)="addServico(item,$index)">adicionar</button>
                    <button *ngIf="adicionados[$index]" (click)="removerServico(item.id,$index)" style="background-color: #580000;">Remover</button>
                    <button (click)="ativar($index)" style="background-color: #FF4646;">
                        @if (!ativo[$index]) { mais informação}@else {
                        menos informação
                        }
                    </button>
                </div>
            </div>
            <hr>
            @if (ativo[$index]) {
            <div class="descricao">
                {{item.descricao}} <br><span> Valor:{{item.valor}}R$</span>
            </div>
            }
            }

        </div>
        <div class="selecionado">
            <div class="valor"><p>Valor :</p>{{valor}}R$<p></p></div>
            <button (click)="patchServicos()">confirmar</button>
        </div>

    </div>
</section>