<header>
    <div class="logo">
        <a routerLink="/"><img src="../../../assets/img/logo/1.png" alt="" draggable="false"></a>
    </div>
    @if (!sessionCookie()) {
    <nav class="nav_principal">
        <button (click)="redirecionar()">serviços</button>
        <button (click)="redirecionar()">Quem somos</button>
        <button (click)="redirecionar()">comunidade</button>
    </nav>
    <button class="planeje" (click)="redirecionar()">planeje aqui!</button>
}@else {
    <button (click)="cookieDelete()">sair</button>
}
</header>
<hr>