<form [formGroup]="casamento" (submit)="onSubmit()">
  <div formArrayName="noivos" class="noivos_padrinhos">
    <p>Nome</p>
    <div *ngFor="let control of noivos.controls; let i = index">
      <input type="text" [formControl]="getFormControl(control, 'nome')" id="nome{{ i }}">
      <button type="button" (click)="removeInput(i)">-</button>
    </div>
    <button type="button" (click)="addInput('noivos')" class="addInput"></button>

  </div>
  <div formArrayName="padrinhos" class="noivos_padrinhos">
    <p>Nome</p>
    <div *ngFor="let control of padrinhos.controls; let i = index">
      <input type="text" [formControl]="getFormControl(control, 'nome')" id="nome{{ i }}">
      <button type="button" (click)="removeInput(i)">-</button>
    </div>
    <button type="button" (click)="addInput('padrinhos')" class="addInput"></button>

  </div>
  <button type="submit">Enviar</button>
</form>