<app-header url="acesso"></app-header>
<app-banner background="../../../assets/img/ban.jpg" titulo="cold, smooth & tasty." subtitulo="lorem ea"
    heigth="45rem"></app-banner>
<div class="content">
    <app-text-title class="wimet" titulo="Sobre nos" texto="

Lçorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem alias assumenda adipisci quia ex fugiat architecto, maiores libero obcaecati incidunt, animi dolorem quos quod quo ratione laudantium harum consectetur? Consectetur?
Lorem <br><br> <br>ipsum dolor sit amet consectetur adipisicing elit. Cumque suscipit earum reprehenderit magni sit iste vel praesentium, odio quidem ex accusamus nostrum, aliquid repellat sed ad assumenda vero eligendi! Hic?
L<br> <br><br>orem ipsum dolor sit amet consectetur, adipisicing elit. Nihil fugit, animi sit eos ratione, officia aliquam vero voluptates veritatis tempore, labore nostrum. Incidunt officiis eligendi, id odit voluptatum dolorem earum!

"></app-text-title>
    <app-banner background="../../../assets/img/ban2.jpg" class="wimet"></app-banner>
</div>
<div class="separa">
    <h1>Nossos serviços</h1>
</div>
<div class="sessoes">
    <app-section img="../../../assets/img/sec1.png" [items]=item[0] titulo="Planejamento"
        buttonInput="PLANEJE AQUI!"></app-section>
    <app-section img="../../../assets/img/sec2.png" [items]=item[1] titulo="EVENTO"
        buttonInput="veja mais!"></app-section>
    <app-section img="../../../assets/img/sec1.png" [items]=item[2] titulo="Lista de presente"
        buttonInput="Faça sua lista"></app-section>

</div>
<div class="content">
    <div class="bctext">
        <app-text-title titulo="Comunidade" texto="confira fotos e comentarios de eventos realizados"></app-text-title>
        <button>confira!</button>
    </div>
    <app-banner style="width: 100%;" background="../../../assets/img/ban3.png" heigth="17.5rem"></app-banner>

</div>
