<footer>
    <div class="list">
        <ul>
            <h3>Informaçoes</h3>
            <li><a href="">Sobre nos</a></li>
            <li><a href="">Politicas</a></li>
            <li><a href="">Entrar em contato</a></li>
            <li><a href="">Trabalhe conosco</a></li>
            <li><a href="">Mapa do Site</a></li>
        </ul>
        <div class="redes">
            <h3>Siga-nos</h3>
            <div><a href=""><img src="../../../assets/img/tw.png" alt="" draggable="false"></a>
            <a href=""><img src="../../../assets/img/fb.png" alt="" draggable="false"></a>
            <a href=""><img src="../../../assets/img/in.png" alt="" draggable="false"></a>
            </div>
        </div>
    </div>
    <img class="imgf" src="../../../assets/img/footer.png" alt="" draggable="false">
</footer>
