<div class="swiper">
    <div class="swiper-wrapper">
      @for (image of images; track $index) {

      <div class="swiper-slide" >
        <img [src]="'http://localhost:8080'+image" alt="imagem local" />
        
      </div>
    }
    </div>
    <!-- Se necessário, adiciona a navegação e a paginação -->
    <div class="swiper-pagination"></div>
    <button class="swiper-button-next"></button>
    <button class="swiper-button-prev"></button>
    <div class="swiper-scrollbar"></div>
  </div>
  